service.wsdl

<definitions name="UserService"
             targetNamespace="http://www.example.org/UserService/"
             xmlns:tns="http://www.example.org/UserService/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="http://www.example.org/UserService/">
            <xsd:element name="SaveUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nombre" type="xsd:string"/>
                        <xsd:element name="apellido" type="xsd:string"/>
                        <xsd:element name="edad" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="SaveUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="status" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetUsersRequest"/>
            <xsd:element name="GetUsersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="usuarios" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <message name="SaveUserRequest">
        <part name="parameters" element="tns:SaveUserRequest"/>
    </message>
    <message name="SaveUserResponse">
        <part name="parameters" element="tns:SaveUserResponse"/>
    </message>
    <message name="GetUsersRequest">
        <part name="parameters" element="tns:GetUsersRequest"/>
    </message>
    <message name="GetUsersResponse">
        <part name="parameters" element="tns:GetUsersResponse"/>
    </message>

    <portType name="UserServicePortType">
        <operation name="SaveUser">
            <input message="tns:SaveUserRequest"/>
            <output message="tns:SaveUserResponse"/>
        </operation>
        <operation name="GetUsers">
            <input message="tns:GetUsersRequest"/>
            <output message="tns:GetUsersResponse"/>
        </operation>
    </portType>

    <binding name="UserServiceSoapBinding" type="tns:UserServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SaveUser">
            <soap:operation soapAction="SaveUser"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetUsers">
            <soap:operation soapAction="GetUsers"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="UserService">
        <port name="UserServiceSoapPort" binding="tns:UserServiceSoapBinding">
            <soap:address location="http://localhost:8000/wsdl"/>
        </port>
    </service>
</definitions>